body {
  background-color: #f2ebeb;
  z-index: -1;
}

li {
  border-right: 1px solid #ededed !important;
}

.user-li {
	border-style: hidden !important;	
}


.navbar-nav > li:last-child {
  border-style: hidden !important;
  float: right !important;
}

.nav-link:hover {
  /* font-weight: 600; */
  /* color: rgb(55, 239, 92) !important; */
  color: black;
}

.list-group-item {
	color: #212529 !important;
  	background-color: #fed1aa !important; 
}


/* .nav-link {
  color: #05386b !important;
} */

/* #login-container {
	background-color: #EDF5E1 !important;
} */
