body {
  background-color: #f2ebeb;
  z-index: -1;
}

li {
  border-right: 1px solid #ededed !important;
}

.navbar-nav > li:last-child {
  border-style: hidden !important;
  float: right !important;
}

.nav-link:hover {
  /* font-weight: 600; */
  /* color: rgb(55, 239, 92) !important; */
  color: black;
}

li > a {
	font-size: 21px;
}


/* .nav-link {
  color: #05386b !important;
} */

/* #login-container {
	background-color: #EDF5E1 !important;
} */
