* {
	border: 0;
	padding: 0;
	margin: 0;
}

.main-div {
	display:flex;
	align-items: center;
	justify-content:center;
	font-weight: bold;
	font-family: big john;
	width: 100%;
	height: 100vh;
}

.info {
	
	background: #eee;
	padding: 8px 24px;
	border-radius: 16px;
}

.loan-card {
	background: #eee;
	padding: 8px 24px;
	border-radius: 8px;
	height: 70%;
	width: 20%;
}

.modal-backdrop {
    display: none;
    z-index: 1040 !important;
}

.modal-content {
    margin: 2px auto;
    z-index: 1100 !important;
}


#first-div {
	background-image:url(./images/banking3.jpeg);   
	background-size:cover;
}

#second-div {
	background: maroon;
}

#third-div {
	height: 400px;
	background-image:url(./images/house.jpeg);
	background-size: cover;
	background-attachment: fixed;
}

#fourth-div {
	background: aquamarine;
}