<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>capstone</display-name>
	<servlet>
		<description>
		</description>
		<display-name>validateAdminLogin</display-name>
		<servlet-name>validateAdminLogin</servlet-name>
		<servlet-class>com.ncs.adminController.validateAdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>validateCustomerLogin</display-name>
		<servlet-name>validateCustomerLogin</servlet-name>
		<servlet-class>com.ncs.customerController.validateCustomerLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>createCustomer</display-name>
		<servlet-name>createCustomer</servlet-name>
		<servlet-class>com.ncs.customerController.createCustomer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>updateCustomer</display-name>
		<servlet-name>updateCustomer</servlet-name>
		<servlet-class>com.ncs.customerController.updateCustomer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>fetchCustomer</display-name>
		<servlet-name>fetchCustomer</servlet-name>
		<servlet-class>com.ncs.customerController.fetchCustomer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>deleteCustomer</display-name>
		<servlet-name>deleteCustomer</servlet-name>
		<servlet-class>com.ncs.customerController.deleteCustomer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>withdrawal</display-name>
		<servlet-name>withdrawal</servlet-name>
		<servlet-class>com.ncs.customerController.withdrawal</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>addRecipient</display-name>
		<servlet-name>addRecipient</servlet-name>
		<servlet-class>com.ncs.customerController.addRecipient</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>transfer</display-name>
		<servlet-name>transfer</servlet-name>
		<servlet-class>com.ncs.customerController.transfer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>loadTransferPage</display-name>
		<servlet-name>loadTransferPage</servlet-name>
		<servlet-class>com.ncs.customerController.loadTransferPage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>transaction</display-name>
		<servlet-name>transaction</servlet-name>
		<servlet-class>com.ncs.customerController.transaction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Loan</display-name>
		<servlet-name>Loan</servlet-name>
		<servlet-class>com.ncs.customerController.Loan</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>submitLoan</display-name>
		<servlet-name>submitLoan</servlet-name>
		<servlet-class>com.ncs.customerController.submitLoan</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>fetchLoanCustomerDetails</display-name>
		<servlet-name>fetchLoanCustomerDetails</servlet-name>
		<servlet-class>com.ncs.adminController.fetchLoanCustomerDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>approveLoan</display-name>
		<servlet-name>approveLoan</servlet-name>
		<servlet-class>com.ncs.adminController.approveLoan</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>rejectLoan</display-name>
		<servlet-name>rejectLoan</servlet-name>
		<servlet-class>com.ncs.adminController.rejectLoan</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>viewLoan</display-name>
		<servlet-name>viewLoan</servlet-name>
		<servlet-class>com.ncs.customerController.viewLoan</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>validateAdminLogin</servlet-name>
		<url-pattern>/validateAdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>validateCustomerLogin</servlet-name>
		<url-pattern>/validateCustomerLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createCustomer</servlet-name>
		<url-pattern>/createCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateCustomer</servlet-name>
		<url-pattern>/updateCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fetchCustomer</servlet-name>
		<url-pattern>/fetchCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteCustomer</servlet-name>
		<url-pattern>/deleteCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>withdrawal</servlet-name>
		<url-pattern>/withdrawal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addRecipient</servlet-name>
		<url-pattern>/addRecipient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>transfer</servlet-name>
		<url-pattern>/transfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loadTransferPage</servlet-name>
		<url-pattern>/loadTransferPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>transaction</servlet-name>
		<url-pattern>/transaction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Loan</servlet-name>
		<url-pattern>/Loan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>submitLoan</servlet-name>
		<url-pattern>/submitLoan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fetchLoanCustomerDetails</servlet-name>
		<url-pattern>/fetchLoanCustomerDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>approveLoan</servlet-name>
		<url-pattern>/approveLoan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rejectLoan</servlet-name>
		<url-pattern>/rejectLoan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>viewLoan</servlet-name>
		<url-pattern>/viewLoan</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
